@import '../styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(38, 100%, 96%);
  --foreground: hsl(240, 5%, 26%);
  --scroll-color: hsl(220, 75%, 36%);

  --bg-svg: var(--background);
  --bg-secondary-svg: hsl(0, 0%, 95%);
  --border-svg: hsl(0, 0%, 90%);

  --primary-color: hsl(23, 100%, 56%);
  --secondary-deep-color: hsl(220, 75%, 36%);
  --secondary-light-color: hsl(216, 90%, 67%);
  --bg-primary: hsl(38, 100%, 96%);

  --bg-box: hsl(38, 100%, 99%);
}

:root[class="dark"] {
  --background: hsl(240, 4%, 16%);
  --foreground: hsl(0, 0%, 100%);
  --scroll-color: #FF731D;

  --bg-svg: var(--background);
  --bg-secondary-svg: #1d1d1d;
  --border-svg: #464646;

  --bg-box: hsl(240, 5%, 22%);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

* , html, body {
  font-family: 'dana-normal', Arial, sans-serif;
  direction: rtl;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  overflow-y: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .animate-transformY {
    animation: transformY 5s linear infinite forwards;
  }
  .animate-transformYX {
    animation: transformYX 10s linear infinite forwards;
  }

  .animate-neon-text-primary-shadow {
    animation: neon-text-primary 1s ease-in-out infinite alternate;
  }

  .animate-neon-text-secondary-shadow {
    animation: neon-text-secondary-shadow 1s ease-in-out infinite alternate;
  }

}


body, .scroll {
  --sb-track-color: #e6e0e0;
  --sb-thumb-color: var(--scroll-color);
  --sb-size: 4px;
}

body::-webkit-scrollbar, .scroll {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track, .scroll {
  background: transparent;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb, .scroll {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

@keyframes transformY {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(15%);
  }
  20% {
    transform: translateY(30%);
  }
  30% {
    transform: translateY(45%);
  }
  40% {
    transform: translateY(60%);
  }
  50% {
    transform: translateY(75%);
  }
}
@keyframes transformYX {
  0% {
    transform: translateY(0) translateX(0);
  }
  10% {
    transform: translateY(10%) translateX(10%);
  }
  20% {
    transform: translateY(20%) translateX(20%);
  }
  30% {
    transform: translateY(30%) translateX(30%);
  }
  40% {
    transform: translateY(40%) translateX(40%);
  }
  50% {
    transform: translateY(50%) translateX(50%);
  }
}

@keyframes neon-text-primary-shadow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--primary-color), 0 0 40px var(--primary-color), 0 0 50px var(--primary-color), 0 0 60px var(--primary-color), 0 0 70px var(--primary-color);
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px hsl(23, 100%, 50%), 0 0 40px hsl(23, 100%, 50%), 0 0 50px hsl(23, 100%, 50%), 0 0 60px hsl(23, 100%, 50%), 0 0 70px hsl(23, 100%, 56%), 0 0 80px hsl(23, 100%, 56%);
  }
}
@keyframes neon-text-secondary-shadow {
  from {
    text-shadow: 0 0 10px var(--secondary-deep-color), 0 0 20px var(--secondary-deep-color), 0 0 30px var(--secondary-deep-color), 0 0 40px var(--secondary-deep-color), 0 0 50px var(--secondary-deep-color), 0 0 60px var(--secondary-deep-color), 0 0 70px var(--secondary-deep-color);
  }
  to {
    text-shadow: 0 0 20px var(--secondary-deep-color), 0 0 30px var(--secondary-light-color), 0 0 40px var(--secondary-light-color), 0 0 50px var(--secondary-light-color), 0 0 60px var(--secondary-light-color), 0 0 70px var(--secondary-light-color), 0 0 80px var(--secondary-light-color);
  }
}