@import '../styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: yyhsl(220, 14%, 96%); */
  --background: #FFF7E9;
  --foreground: hsl(240, 5%, 26%);
  --scroll-color: #1746A2;
}

:root[class="dark"] {
  --background: hsl(240, 4%, 16%);
  --foreground: hsl(0, 0%, 100%);
  --scroll-color: #FF731D;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

* , html, body {
  font-family: 'dana-normal', Arial, sans-serif;
  direction: rtl;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body, .scroll {
  --sb-track-color: #e6e0e0;
  --sb-thumb-color: var(--scroll-color);
  --sb-size: 4px;
}

body::-webkit-scrollbar, .scroll {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track, .scroll {
  background: transparent;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb, .scroll {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}